@import "../../styles/variables";

.imageStyles {
  display: block;
  width: 100%;
  max-width: 240px;
  height: 340px;
  max-height: 340px;
  margin: 0 auto 0.5rem auto;
}

.userModal {
  footer {
    display: flex;
    justify-content: space-between;
  }
}
